h1{
    color: blue;
}
h2{
    color: green;
}
.titre{
    color: grey;
}
p{
    color: orange;
}
.para{
    color: purple;
}
.tableau{
    color: pink;
}
.atlhe{
    color: blue;
}
.gym{
    color: blue;
    font-style: italic;
}
