body{
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}
h1{
    font-weight: normal;
    color: blue;
}
h1:hover{
    color: pink;
}
h2{
    text-align: center;
    text-decoration: underline;
    color: green;
}
.titre{
    color: grey;
}
p{
    color: orange;
}
.para{
    color: purple;
}
.txt-cl-purple{
    text-align: right;
}
.tableau{
    color: pink;
}
.atlhe{
    color: blue;
}
.gym{
    color: blue;
    font-style: italic;
}
.txt-pays{
    text-transform: uppercase;
}
.txt-sport{
    list-style: none;
    text-align: center;
}
.txt-cl-sport{
    text-decoration: none;
}