*{
    /* Ici je reinitialise mes valeurs  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif ;
}
/* COMPONENTS */
.btn{
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(187, 23, 23);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
}
.btn:hover{
    color: grey;
}
/* Section hero */
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent) ,url(../img/pexels-buro-millennial-1438072\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 80%;
    margin: 50px auto;
    min-height: 300px;
    padding: 50px;
    color: #fff;
}
.hero h1{

    margin-bottom: 50px;
}
.hero strong{
    text-transform: uppercase;
    font-style: italic;
}

/* Section About-us */
.about-us h2{ 
    text-transform: uppercase;
    color: #444;
    text-align: center;
    margin-bottom: 10px;
}
.about-us{
    display: block;
    min-height: 300px;
    margin:auto;
    padding: 20px 0;
    text-align: center;
    width: 90%;
    font-size: 14px;

}
.about-us  p{
    margin: 10px;
}
.about-us a{
    text-decoration: none;
    color: rgb(201, 62, 62);
}

.about-us a:hover{ 
    color: rgb(173, 141, 141);
}