<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS exo</title>
    <link rel="stylesheet" href="../css/practice.css">
</head>
<body>
    <div>
        <h1 >
            Les Jeux Olympiques 
        </h1>
        <p >Les Jeux Olympiques sont un évenement londial célébrant l'unité, l'amitié et l'excellence sportive</p>
    </div>
        <div >
        <h2 >Histoires des Jeux Olympiques</h2>
        <p>Les Jeux Olympiques ont une longue histoire remontant à l'Antiquité grecque. Ils ont été rétablis en 1896 et se tiennent tous les quatres ans </p>
    </div>
        <div>
        <h2>Disciplines Sportives</h2>
       <p class="para">Les Jeux comprennent une Variété de disciplines sportives passionnantes telles que l'athlétisme, la natation, le basketball, le cyclisme et bien d'autres. </p>
    </div>
    <div>
        <h2 class="titre">Prochaines Olympiades</h2>
        <p class="para txt-cl-purple">Les prochains Jeux olympiques auront lieu en 2028 à Los Angeles. Soyez prêt à vivre à l'excitation de la compétition mondiale! </p>
    </div>
    <div>
        <h2>Pays Hôtes Récents</h2>
        <ol class="tableau">
            <li class="txt-pays">Athènes, Grèce (2004)</li>
            <li>Pékin, Chine (2008)</li>
            <li class="txt-pays">Londres, Royaume-Uni (2012)</li>
            <li>Rio de Janeiro, Brésil (2016)</li>
            <li>Tokyo, Japon (2020- reporté à 2021)</li>
        </ol>
    </div>
    <div>
        <h2 class="txt-cl-sport">Principaux Sports Olympiques</h2>
        <ul >
            <li class="atlhe txt-pays txt-sport" >Athlétisme</li>
            <li class="txt-sport">Natation</li>
            <li class="txt-sport">Football</li>
            <li class="txt-sport">Basketball</li>
            <li class="gym txt-sport">Gymnastique</li>
        </ul>
    </div>
    <p>Merci de célébrer l'esprit olympique avec nous!</p>
</body>
</html>