<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paris - contact</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
</head>
<body>
    <header>
        <a href="../index.html" class="logo">Paris</a>
        <nav>
            <a href="../index.html"> Accueil</a>
            <a href="contact.html">contact</a>
            <a href="a-propos.html">à propos</a>
        </nav>
    </header>
        <main>
            <h1>Contactez-nous</h1>
            <form>
                <div>
                    <label for="mail">Email</label>
                    <input type="email" id="mail">
                </div>
                <div>
                    <label for="comment">Message</label>
                    <input type="text" id="comment">
                </div>
                <input type="submit" value="Envoyer">
            </form>

        </main>

</body>
</html>