<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ptactice</title>
    <link rel="stylesheet" href="../assets/css/practice.css">
</head>
<body>
    <header>
        <nav class="menu">
            <a href="">Acceuil</a>
            <a href="">nos produits</a>
            <a href="">soldes</a>
            <a href="">contact</a>
            <a href="">information</a>
        </nav>
    </header>
    <main>
        <h1>Acceuil</h1>
    </main>
</body>
</html>